* {
  padding: 0px;
  margin: 0px;
  list-style: none;
}
header {
  border-bottom: 5px solid rgb(11, 102, 147);
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control {
  border: 2px solid rgb(11, 102, 147);
  margin-bottom: 2%;
}

.container-form {
  max-width: 800px;
  padding: 30px;
  border-radius: 30px;
  border: 3px solid rgb(11, 102, 147);
}

.nav-menu ul {
  display: flex;
  gap: 40px;
  margin-bottom: 0px;
}
img {
  height: 80px;
}

a {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(19, 19, 19);
}
.form {
  margin-top: 64px;
}
.campos {
  display: flex;
  width: 100%;
  gap: 2.5%;
}

.tel {
  width: 22.5rem;
}

label,
button {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2%;
}
